# top-most EditorConfig file
root = true
[*.{js,jsx,ts,tsx,vue}]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab  # space
indent_size = 0
trim_trailing_whitespace = true